<launch>
     <!-- <node name="april_detector" pkg="lightswarm_sense" type="april_detector.py"/> -->

     <node name="stub_simulator" pkg="lightswarm_core" type="stub_simulator.py"/>
     <node name="stub_shadow_calculator" pkg="lightswarm_core" type="stub_shadow_calculator.py"/>
     <node name="stub_renderer" pkg="lightswarm_core" type="stub_renderer.py"/>
</launch>